<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Unprotected Page</a>
</nav>

<div>
    <h2>This page is visible to all users, logged in or not</h2>
</div>
